.main-footer {
    box-shadow: 0 0 20px 10px rgba(black, 0.05); 

    &__nav {

        > ul {
        display: flex;
        flex-wrap: wrap;
        @apply -mx-4;

            > * {
                @apply w-1/4 px-4;

                > a {
                    @apply text-primary text-xl font-semibold mb-5 inline-block;
                }

                li {
                    @apply mb-2 text-base;
                }
            }
        }
    }
}