.collection-slider {

    &__image {
        max-width: 97px;
        margin: 0 auto;
        opacity: 0.3;
    }

    .swiper-slide-active {
        .collection-slider__image {
            max-width: 131px;
            opacity: 1;
        }
    }

    .swiper-slide-prev,
    .swiper-slide-next {
        .collection-slider__image {
            max-width: 116px;
            opacity: 1;
        }
    }

    .swiper-slide-prev {
        .collection-slider__image {
            position: relative;
            right: 5%;
        }
    }
    
    .swiper-slide-next {
        .collection-slider__image {
            position: relative;
            left: 5%;
        }
    }
}