/* Main column width */
.wp-block {
    max-width: 1080px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1280px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

.wp-block:not(.wp-block-columns)::before{
    content: attr(data-title) !important;
    display: block;
    position: static !important;
    z-index: 1;
    top: 0 !important;

    width: 100%;
    height: auto !important;
    padding: 10px 10px 10px !important;
    margin-top: 0;
    border-top: 1px solid rgba(0,0,0,0.1) !important;
    font-size: 14px !important;
}

@media only screen and (max-width: 768px){
    .wp-block::before{
        font-size: 12px !important;
    }
}

.acf-block-preview .article-container__sidebar {
    display: none!important;
}

.has-primary-background-color:not(.wp-block-columns)::before, .has-secondary-background-color:not(.wp-block-columns)::before, .has-tertiary-background-color:not(.wp-block-columns)::before {
    color: white;
}

.has-gray-50-background-color {
    background-color: #fafafa;
}

.has-gray-50-color {
    color: #fafafa;
}

.has-primary-background-color {
    background-color: #041244;
}

.has-primary-color {
    color: #041244;
}

.has-quaternary-background-color {
    background-color: #EBF2FC;
}

.has-quaternary-color {
    color: #EBF2FC;
}

.has-secondary-background-color {
    background-color: #F39200;
}

.has-secondary-color {
    color: #F39200;
}

.has-tertiary-background-color {
    background-color: #C9338A;
}

.has-tertiary-color {
    color: #C9338A;
}